<link href="style.css" rel="stylesheet">

<button type="button" class="btn btn-default btn-lg"><%= link_to "Create a new startup!", new_user_location_path(current_user.id) %>
</button>



<table class="user-table">

  <tr>
    <th>Name</th>
    <th class="long">Address</th>
    <th>category</th>
  </tr>
  <% for location in current_user.locations %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.address %></td>
      <td><%= location.category %></td>

      <td>
        <button type="button" class="btn btn-default btn-md">
          </span> <%= link_to "Show", user_location_path(current_user.id, location) %>
        </button>

        <button type="button" class="btn btn-default btn-md">
          </span> <%= link_to "Edit", edit_user_location_path(current_user.id, location) %>
        </button>

        <button type="button" class="btn btn-default btn-md">
          </span> <%= link_to "Destroy", user_location_path(current_user, location), :confirm => 'Are you sure?', :method => :delete %>
        </button>
      </td>
    </tr>
  <% end %>
</table>

