<style>

</style>
<div class="container">
<button type="button" class="btn btn-default btn-lg"><%= link_to "Back to Startup List", user_locations_path %>
</button>

  <div class="row text-white">
        <% @location.competitors.each do |competitor| %>
          <% if competitor.review_count >= 50 %>
            <div class="col-xs-6 col-sm-6 col-md-6 margin-top" >
              <div class="col-xs-3 col-sm-3 col-md-3" >
                <img src='<%= competitor.image_url %>'>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4" >
                <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-leaf"></span> <%= link_to competitor.name, competitor.url %>
                </button>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5" >
                <p style="font-size:15px;">Category: <%= competitor.category %></p>
                <p style="font-size:15px;">Review count: <%= competitor.review_count %></p></br>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
</div>